<h2>Welcome <%=$game.player_1.name%> and <%=$game.player_2.name%>!</h2>

<body>
<%=$game.player_1.name%>: <%=$game.player_1.hp%>/<%=Player::DEFAULT_HIT_POINTS%> HP
<br>
<%=$game.player_2.name%>: <%=$game.player_2.hp%>/<%=Player::DEFAULT_HIT_POINTS%> HP
<form action='/attack' method='get'>
<div><input type='submit' value ='Attack'></div>
</form>
</body>
